.techniques {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}